<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12">
            <span class="txt-color-white">Karental <span class="hidden-xs"> - Rental Management System</span> © @DateTime.Now.Year</span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->