@using WebUI.Extension;
@{
    ViewBag.Title = "Halaman Tidak Ditemukan";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p>Maaf, halaman yang ingin Anda tuju tidak ditemukan. Silakan memilih menu lain.</p>