@model SecurityGuard.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password Success";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p>Your new password has been emailed to you.</p>

<p>@Html.ActionLink("Login", "Login", "SGAccount")</p>
